# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.env
.DS_Store

# Vite / React
/dist
/.vite

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
Thumbs.db
*.swp

# Logs
logs
*.log
